// Switch between day and night, you can customize the theme color

// Daytime theme silent theme
[data-theme=light] {
  --sitio-global-bg $light-global-bg
  --sitio-basic-color $light-basic
  --sitio-font-color $light-font-color
  --sitio-font-hover $light-font-hover
  --sitio-bg-hover $light-bg-hover
  --sitio-card-bg $light-card-bg
}

// Dark theme night
[data-theme=dark] {
  --sitio-global-bg $dark-global-bg
  --sitio-basic-color $dark-basic
  --sitio-font-color $dark-font-color
  --sitio-font-hover $dark-font-hover
  --sitio-text-highlight-color $dark-text-highlight-color
  --sitio-card-bg $dark-card-bg
  --sitio-btn $dark-btn
}

// Custom theme color
[data-theme=customize] {
}

// --global-bg: #fff;
// --font-color: #4c4948;
// --hr-border: #d2ebfd;
// --hr-before-color: #bfe4fb;
// --search-bg: #f6f8fa;
// --search-input-color: #4c4948;
// --search-result-title: #4c4948;
// --preloader-bg: #37474f;
// --preloader-color: #fff;
// --tab-border-color: #f0f0f0;
// --tab-botton-bg: #f0f0f0;
// --tab-botton-color: #1f2d3d;
// --tab-button-hover-bg: #dcdcdc;
// --tab-button-active-bg: #fff;
// --card-bg: #fff;
// --sidebar-bg: #f6f8fa;
// --btn-hover-color: #ff7242;
// --btn-color: #fff;
// --btn-bg: #71bbb6;
// --text-bg-hover: #71bbb6;
// --light-grey: #eee;
// --white: #fff;
// --text-highlight-color: #1f2d3d;
// --blockquote-color: #6a737d;
// --blockquote-bg: rgba(113,187,182,0.1);
// --reward-pop: #f5f5f5;
// --toc-link-color: #666261;
