// css 全局变量

// 亮色主题切换颜色 light
$light-global-bg = #fff8f3
$light-basic = #82c7eb
$light-card-bg = #ffffff
$light-font-color = #4c4948
$light-font-hover = #0ac693
$light-bg-hover = #ff7242

// 暗色主题配色 dark
$dark-global-bg = #171717
$dark-basic = #82c7eb
$dark-font-color = rgba(255, 255, 255, 0.7)
$dark-text-highlight-color = rgba(255, 255, 255, 0.9)
$dark-card-bg = #343a40
$dark-btn = #47484a
$dark-font-hover = #0ac693

// 全局设置
$sitio-mask = #000000cc
$theme-switching = .4s

// ==================================
// 简洁主题全局 css 控制 light
// ==================================
$padding = 10px
$aside-section-margin = 10px




