// CSS Style Guide: http://codeguide.co/#css

/**
 * TODO variable
 * FIXME file ===>  /_variables/variables.styl
 */
@import './_variables/variables.styl';

/**
 * TODO Common layers, animations, functions
 * FIXME file ===>  /_base/scaffolding.styl
 */
@import './_base/scaffolding.styl';

/**
 * TODO Content style (top, navigation, content, bottom)...
 * FIXME file ===>  /_partial
 */



/**
 * TODO Mobile media query
 * FIXME file ===>  /_partial
 */
@import './_small/small.styl';

/**
 * TODO Custom style
 * FIXME file ===>  /_custom/custom.styl
 */
@import './_custom/custom.styl';
