/**
 * Initialize style
 * Global unified initialization can be changed here
 */

// Function function, frame animation, theme
@import './_features/method.styl';
@import './_features/theme.styl';

@import './normalize.styl';
@import './basis.styl';

@import './_features/animation.styl';
