@media screen and (max-width: 768px) {
  
  // 简洁主题顶部导航
  .concise-navbar {
    padding-left $padding + 10
    padding-right $padding + 10

    .menus {
      display none
    }
  }

  // 底部
  .concise-footer {
    padding-left $padding + 10
    padding-right $padding + 10

    .footer-info, .footer-time {
      flex-wrap wrap
    }
  }

}
