// TODO Simple and beautiful common style

.navbar-brand:hover,
.site-page:hover {
  color var(--sitio-font-hover) !important
}

.card-info,
.more-links {
  background-color var(--sitio-card-bg)
  padding ($padding + 10) ($padding + 14)
  overflow hidden
  fillet(5px)
}

.text-center {
  text-align center !important
}

// dark
[data-theme=dark] .profile-about > a {
  background-color var(--sitio-btn) !important
}

[data-theme=dark] .profile-about > a:hover  {
  background-color var(--sitio-font-hover) !important
}

// TODO Custom common style
